*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root { 
	--pearl: rgb(238,235,217);
	--main-blue: rgb(102, 102, 204);
	--main-black: rgb(5, 10, 20);
    --main-blue-2: rgba(102, 102, 204,0.95);
}

@media (max-width: 61.25em)
html {
    font-size: 58%;
}

@media (max-width: 75em)
html {
    font-size: 60%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html {
    display: block;
}

body {
    display: block;
    margin: 8px;
	font-family: 'Bungee', cursive;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--pearl);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-blue-2);
    box-shadow: 0 2px 0 rgb(0 0 0 / 50%);
    z-index: 10;
}

.nav-blocks { 
	display: flex; 
	margin: 1px 2rem 1px;
}

ul {
	list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
}

.nav-blocks a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

a {
    text-decoration: underline dotted ;
    color: var(--pearl);
}

.welcome-section { 
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center; 
	width: 100%;
	height: 100vh;
	background-color: var(--main-black);
}

.Titulo1 { 
	font-size: 50px;
	padding: 0px;
	margin: 0px;
	text-shadow: 2px 2px var(--main-blue);
}

.welcome-section p{ 
	color: var(--main-blue);
	text-decoration: underline 1px;
	margin: 0px;
	padding: 0px;
    font-style: italic;
	font-family: 'Cutive Mono', monospace;
	font-size: 3rem;
}

#projects { 
	text-align : center; 
	padding: 10rem 2rem;
	background: var(--main-blue);
}

.Titulo2 {
	max-width: 640px;
	margin: 0 auto 6rem auto;
	border-bottom: 0.2rem solid var(--main-black);
	color: var(--main-black);
	font-size: 35px;
	text-shadow: 2px 2px var(--pearl);
}

.project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    width: 100%;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 6rem;
		padding: 0px;
}

.project-tile a{ 
	text-decoration: none;
  color: var(--pearl);
	font-size: 18px;
}

img {
    display: block;
    width: 100%;
		background: var(--main-black);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
    border-radius: 2px;
}

.project-title {
    font-size: 20px;
    padding: 5px 0.5rem;
}

.project-tile p {
    display: block;
		margin-top: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
		background-color: #1b1c20;
		box-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
    border-radius: 2px;
		transition: height 4s;
}

.desaparece { 
		color: var(--main-blue);
    transition: color 0.3s ease-out;
}

.btn-rep > i{ 
		margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
} 

.btn-repo {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
		text-decoration: none;
    -webkit-transition: background-color 1s ease-out;
}

.btn-repo:hover {
    background-color: #1b1c20;
    cursor: pointer;
}

.Contact { 
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
height: 80vh;
padding: 0 2rem;
background: var(--main-black);
}

.contato-titulo > h2{ 
    font-size: 6rem;
    text-shadow: 2px 2px var(--main-blue);
}

.contato-titulo > p{ 
    font-style: italic;
    font-family: 'Cutive Mono', monospace;
    color: var(--main-blue);
    text-decoration: underline 1px;
    margin: 0px;
    padding: 0px;
}

.contato-link { 
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.links { 
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px var(--main-blue-2);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contato-link a{ 
    text-decoration: none;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-black);
    border-top: 4px solid var(--main-blue);
}

#foot p{ 
	font-size: 12px;
}